<div class="app-layout">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <app-header-aplicarion pageName="AMIGOS"></app-header-aplicarion>

    <div class="page-content">
      <div class="header-actions">
        <div class="title-box">
          <h1>Amistades</h1>
        </div>

        <div>
          <button (click)="cambioEstadoVentana()" class="addFriend">
            <span class="btn-text">Añadir Amigo</span>
            <div class="btn-icon">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="8.5" cy="7" r="4"></circle>
                <line x1="20" y1="8" x2="20" y2="14"></line>
                <line x1="17" y1="11" x2="23" y2="11"></line>
              </svg>
            </div>
          </button>
          @if(wiewForm){
          <div class="targetaAmistad-overlay" (click)="cambioEstadoVentana()">
            <div class="ventana-emergente" (click)="$event.stopPropagation()">
              <h3>Introduzca el nombre del Usuario</h3>
              <input type="text" #userName placeholder="Nombre de usuario..." class="form-input" style="width: 100%; margin-bottom: 5px;">
              <div class="modal-actions-container" style="display: flex; flex-direction: column; gap: 12px; width: 100%;">
                <button class="btn-confirm-delete" (click)="sendFrindsShip(userName.value)">ENVIAR SOLICITUD</button>
                <button class="btn-cancel-delete" (click)="cambioEstadoVentana()">CERRAR VENTANA</button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>

      <div class="tabs">
        <div class="tab" [class.active]="tabActiva() === 'amigos'" (click)="mostrar('amigos')">
          <h2>Amigos</h2>
        </div>
        <div class="tab" [class.active]="tabActiva() === 'enviadas'" (click)="mostrar('enviadas')">
          <h2>Enviadas</h2>
        </div>
        <div class="tab" [class.active]="tabActiva() === 'recibidas'" (click)="mostrar('recibidas')">
          <h2>Recibidas</h2>
        </div>
      </div>

      @switch (tabActiva()) {
      @case ("amigos") {
      <div class="status-info">
        <div class="dot"></div>
        <span>Lista de Amigos</span>
      </div>
      @if (listFriends(); as friends) {
      @if (friends.length > 0) {
      <app-list-friends [listFriends]="friends" [currentUser]="userNameActual()" [listaMostrada]="tabActiva()"
        (amistadAction)="selctFuntion($event)"></app-list-friends>
      } @else {
      <div class="no-data">
        <p>CONEXIÓN FALLIDA: CERO AMIGOS ENCONTRADOS</p>
      </div>
      }
      } @else {
      <div class="loading-screen">
        <p class="blink">> RECUPERANDO BASE DE DATOS...</p>
      </div>
      }
      }

      @case ("enviadas") {
      <div class="status-info">
        <div class="dot"></div>
        <span>Solicitudes De amistad enviadas</span>
      </div>
      @if (listSolicitudesEnviadas(); as send) {
      @if (send.length > 0) {
      <app-list-friends [listFriends]="send" [currentUser]="userNameActual()" [listaMostrada]="tabActiva()"
        (amistadAction)="selctFuntion($event)"></app-list-friends>
      } @else {
      <div class="no-data">
        <p>Ninguga Solicitu Encontrada</p>
      </div>
      }
      } @else {
      <div class="loading-screen">
        <p class="blink">> RECUPERANDO BASE DE DATOS...</p>
      </div>
      }
      }

      @case ("recibidas") {
      <div class="status-info">
        <div class="dot"></div>
        <span>Solicitudes de amistad reividas</span>
      </div>
      @if (listSolicitudesRecividas(); as recived) {
      @if (recived.length > 0) {
      <app-list-friends [listFriends]="recived" [currentUser]="userNameActual()" [listaMostrada]="tabActiva()"
        (amistadAction)="selctFuntion($event)"></app-list-friends>
      } @else {
      <div class="no-data">
        <p>CONEXIÓN FALLIDA: CERO AMIGOS ENCONTRADOS</p>
      </div>
      }
      } @else {
      <div class="loading-screen">
        <p class="blink">> RECUPERANDO BASE DE DATOS...</p>
      </div>
      }
      }
      }

      @if (mensajeEnvio()) {
      <div class="mensaje-envio">{{ mensajeEnvio() }}</div>
      }

    </div>
  </div>
</div>