.section-wrapper {
  padding: 40px 0;
  background-color: var(--bg);
  color: var(--fg);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 1;
  width: 100%;
}

.hero-wrapper {
  padding: 0;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 40px 0;
  }
}
