<main>
  <div id="inicio" class="section-wrapper hero-wrapper theme-dark">
    <app-inicio></app-inicio>
  </div>

  <div id="habilidades" class="section-wrapper theme-light">
    <app-habilidades></app-habilidades>
  </div>

  <div id="funcionamiento" class="section-wrapper theme-dark">
    <app-guia></app-guia>
  </div>
  <div id="deportes" class="section-wrapper theme-light">
    <app-deportes></app-deportes>
  </div>


  <div id="conocenos" class="section-wrapper theme-dark">
    <app-conocenos></app-conocenos>
  </div>
</main>